
		table {
			border-collapse: collapse;
			margin: 20px auto;
			background-color: #fff;
			border: 2px solid #dee2e6;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		}

		th,
		td {
			border: 1px solid #dee2e6;
			padding: 10px;
			text-align: center;
		}

		th {
			background-color: #f2f2f2;
			color: #343a40;
		}

		.highlight {
			background-color: #f8f9fa;
		}
        .social {
			background-color: #C24DA2;
		}

		.talk {
            background-color: #a4c2f4;
            color: #000;
            text-align: center;
        }
        .break {
            background-color: #b6d7a8;
            color: #000;
            justify-content: center;
            align-items: center;
        }
        .tutorial {
            background-color: #f6b26b;
            color: #000;
        }
        .poster {
            background-color: #EA9E8D;
            color: #000;
        }
        .lunch {
            background-color: #6aa84f;
            color: #000;
            justify-content: center;
            align-items: center;
        }
        .panel {
            background-color: #8e7cc3;
            color: #000;
        }
        .CREST {
            background-color: #B22222;
            color: #000;
        }
